@* Componente de animação: Noite Estrelada 🌙 *@
<div class="night-container">
    <div class="moon">
        <div class="moon-crescent"></div>
    </div>
    @for (int i = 0; i < 20; i++)
    {
        var delay = i * 0.5;
        var left = (i * 5.2) % 100;
        var top = (i * 3.7 + 10) % 60;
        var size = (i % 3 + 1) * 2;
        <div class="star" style="left: @(left)%; top: @(top)%; width: @(size)px; height: @(size)px; animation-delay: @(delay)s"></div>
    }
    <div class="night-bg"></div>
</div>
